1. Menghubungkan ke Database Mongo DB

In [5]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://zidhan:agus@bigdata.g7ub8.mongodb.net/')
db = client['company_db']
collectionEmployees = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

2. CRUD

In [6]:
employee_data = [
  {
    'name': 'Steven',
    'department': 'Finance',
    'age': 99,
    'salary': 10000
  },
  {
    'name': 'Gerrard',
    'department': 'CEO',
    'age': 19,
    'salary': 5000
  },
  {
    'name': 'Cristiano',
    'department': 'Marketing',
    'age': 40,
    'salary': 9999
  },
  {
    'name': 'Ronaldo',
    'department': 'Marketing',
    'age': 16,
    'salary': 90000
  }
]
collectionEmployees.insert_many(employee_data)
print('Data inserted')

Data inserted

Update data

In [7]:
collectionEmployees.update_one({'name': 'Cristiano'}, {'$set': {'salary': 10000}})
print('Data updated')

Data updated

Delete data

In [8]:
collectionEmployees.delete_one({'name': 'Steven'})
print('Data deleted')

Data deleted

Menampilkan data

In [9]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('675adfe2efcae786098115b3'), 'name': 'Gerrard', 'department': 'CEO', 'age': 19, 'salary': 5000}
{'_id': ObjectId('675adfe2efcae786098115b4'), 'name': 'Cristiano', 'department': 'Marketing', 'age': 40, 'salary': 10000}
{'_id': ObjectId('675adfe2efcae786098115b5'), 'name': 'Ronaldo', 'department': 'Marketing', 'age': 16, 'salary': 90000}

3. Query menggunakan Aggregation

In [10]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Marketing', 'average_salary': 50000.0}
{'_id': 'CEO', 'average_salary': 5000.0}

Latihan tambahan

Latihan 4.1

In [12]:
collectionProducts = db['products']
products = [
  {'jenis': 'buah', 'nama': 'jambu' , 'merk': 'kristal', 'harga': 5000},
  {'jenis': 'barang', 'nama': 'kulkas', 'merk': 'panasonic', 'harga': 5000000},
  {'jenis': 'barang', 'nama': 'televisi', 'merk': 'panasonic', 'harga': 100000},
  {'jenis': 'buah', 'nama': 'alpukat' , 'merk': 'matang', 'harga': 3000},
  {'jenis': 'kendaraan', 'nama': 'mobil' , 'merk': 'ferrari', 'harga': 9999999999},
  {'jenis': 'kendaraan', 'nama': 'motor' , 'merk': 'honda', 'harga': 25000000},
  {'jenis': 'pakaian', 'nama': 'hoodie' , 'merk': 'breakside', 'harga': 350000},
  {'jenis': 'kendaraan', 'nama': 'mobil' , 'merk': 'honda', 'harga': 250000000},
  {'jenis': 'barang', 'nama': 'handphone' , 'merk': 'iphone', 'harga': 5999999},
  {'jenis': 'buah', 'nama': 'anggur' , 'merk': 'brazil', 'harga': 9000},
  ]
collectionProducts.insert_many(products)
print('Data inserted')

Data inserted

Latihan 4.2

In [13]:
pipelineAvg = [
    {'$group': {'_id': None, 'hargaAvg': {'$avg': '$harga'}}}
]

hargaAvg = list(collectionProducts.aggregate(pipelineAvg))[0]['hargaAvg']
print("Rata rata harga semua produk:", hargaAvg)

piplineDiatasAvg = [
    {'$match': {'harga': {'$gt': hargaAvg}}}
]

for result in collectionProducts.aggregate(piplineDiatasAvg):
    print(result)

Rata rata harga semua produk: 373453199.93333334
{'_id': ObjectId('675ae11eefcae786098115c4'), 'jenis': 'kendaraan', 'nama': 'mobil', 'merk': 'ferrari', 'harga': 9999999999}

Latihan 4.3

In [20]:
pipeline = [
    {'$group' : {'$_id': '$jenis', 'totalProduk' : {'$sum : 1'}}}
]

for result in collectionProducts.aggregate(piplineDiatasAvg):
    print(result)

{'_id': ObjectId('675ae11eefcae786098115c4'), 'jenis': 'kendaraan', 'nama': 'mobil', 'merk': 'ferrari', 'harga': 9999999999}

In [21]:
pipeline = [
    {'$group': {'_id': '$jenis', 'totalProduk': {'$sum': 1}}}
]

for result in collectionProducts.aggregate(pipeline):
    print(result)

{'_id': 'pakaian', 'totalProduk': 3}
{'_id': 'buah', 'totalProduk': 3}
{'_id': 'barang', 'totalProduk': 9}
{'_id': 'kendaraan', 'totalProduk': 9}
{'_id': 'makanan', 'totalProduk': 6}

5. Tugas

Tugas 5.1

In [17]:
pipeline = [
    {'$group': {'_id': '$department','top_employees': {'$push': {'name': '$name', 'age': '$age', 'salary': '$salary'}}}},
    {'$project': {'_id': 1,'top_employees': {'$slice': [{'$filter': {'input': '$top_employees','as': 'employee','cond': {
        '$gte': ['$$employee.salary', 5000] 
        }}},5]}}}
]

for result in collectionEmployees.aggregate(pipeline):
    print(result)

{'_id': 'CEO', 'top_employees': [{'name': 'Gerrard', 'age': 19, 'salary': 5000}]}
{'_id': 'Marketing', 'top_employees': [{'name': 'Cristiano', 'age': 40, 'salary': 10000}, {'name': 'Ronaldo', 'age': 16, 'salary': 90000}]}

Tugas 5.2

In [18]:
for karyawan in collectionEmployees.find():
  if karyawan['age'] < 25:
    collectionEmployees.delete_one({'name': karyawan['name']})
    print(karyawan['name'], ' deleted')

Gerrard  deleted
Ronaldo  deleted

Tugas 5.3

In [19]:
pipeline = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}, 'average_age': {'$avg': '$age'}}}
]

results = collectionEmployees.aggregate(pipeline)

for result in results:
    print(f"Department: {result['_id']}")
    print(f"Total gaji: {result['total_salary']}")
    print(f"Rata rata umur: {result['average_age']}\n")

Department: Marketing
Total gaji: 10000
Rata rata umur: 40.0