In [87]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://zidhan:agus@bigdata.g7ub8.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
# Contoh Insert Data
employee_data = [
    {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500,
    },
    {
    'name': 'Mutmainah',
    'department': 'Bos',
    'age': 29,
    'salary': 10000
    }
]
collection.insert_many(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted
data deleted
data updated for mutmainah

In [85]:
collection.delete_one({'name' : 'Alice'})
print('data deleted')

data deleted

In [93]:
collection.update_one({'name' : 'Mutmainah'}, {'$set' :{'salary' : 30000}})
print('data updated for mutmainah')

data updated for mutmainah

In [95]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67219057c8a0b628966eea09'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('67219057c8a0b628966eea0a'), 'name': 'Mutmainah', 'department': 'Bos', 'age': 29, 'salary': 30000}

In [96]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'Bos', 'average_salary': 30000.0}

Latihan tambahan

In [113]:
collectionProduct = db['product']
product = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1000},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 700},
    {'name': 'Tablet', 'category': 'Electronics', 'price': 300},
    {'name': 'Chair', 'category': 'Furniture', 'price': 150},
    {'name': 'Desk', 'category': 'Furniture', 'price': 400},
    {'name': 'Book', 'category': 'Stationery', 'price': 20},
    {'name': 'Pen', 'category': 'Stationery', 'price': 2},
    {'name': 'Shoes', 'category': 'Clothing', 'price': 60},
    {'name': 'T-shirt', 'category': 'Clothing', 'price': 25},
    {'name': 'Watch', 'category': 'Accessories', 'price': 200}
]
collection.insert_many(product)
print('data inserted')

data inserted

In [114]:
# Pipeline untuk menghitung rata-rata harga keseluruhan
pipelineAvg = [
    {'$group': {'_id': None, 'hargaAvg': {'$avg': '$price'}}}
]

# Mendapatkan rata-rata harga dari hasil agregasi
hargaAvg = list(collectionProduct.aggregate(pipelineAvg))[0]['hargaAvg']
print("Rata rata harga semua produk:", hargaAvg)

# Pipeline untuk menemukan produk dengan harga di atas rata-rata
piplineDiatasAvg = [
    {'$match': {'price': {'$gt': hargaAvg}}}
]

# Eksekusi pipeline dan cetak hasil
for result in collectionProduct.aggregate(piplineDiatasAvg):
    print(result)

IndexError: list index out of range

In [101]:
product_mahal = collection.find({'price' : {'$gt' : avg_price}})
print('product with price above average :')
for product in product_mahal:
    print(product)

NameError: name 'avg_price' is not defined